﻿@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@using MoneyTransfer.ViewModels
@model MoneyTransfer.ViewModels.LoginViewModel

<h2>@Localizer["h2"]</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="UniqCode"></label><br />
        <input asp-for="UniqCode" />
        <span asp-validation-for="UniqCode"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" /> 
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div>
        <input type="submit" value="@Localizer["buttonLogin"]" />
    </div>
</form>