﻿@model MoneyTransfer.Models.User

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Личный кабинет</h2>
<table>
    <tr>
        <td >
            <label>Имя:</label>
            @Model.UserName
        </td>
    </tr>
    <tr>
        <td >
            <label>КОД:</label>
            @Model.UniqCode
        </td>
        <label>Баланс:</label>
        @Model.Count
    </tr>
</table>
<a asp-action="Tranfer" asp-controller="Transfer">Transfer</a>