﻿@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<MoneyTransfer.Models.Transfer>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Localizer["h2"]</h2>
<h3>@User.Identity.Name</h3>
<table>
    @foreach (var t in Model)
    {
        <tr>
            <td>@Localizer["fisrt_td"]: @t.DateTransfer</td>
        </tr>
        <tr>
            <td>@Localizer["second_td"] @t.Sender.UniqCode</td>
        </tr>
        <tr>
            <td>@Localizer["third_td"]: @t.ReceiverUniqCode</td>
        </tr>
    }
</table>
