﻿@model MoneyTransfer.Models.Transfer

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>Перевод</h2>
<form method="post" asp-controller="Transfer" asp-action="TransferMethod" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="form-group">
        <label asp-for="ReceiverUniqCode" class="control-label">Код получателя</label>
        <input asp-for="ReceiverUniqCode" class="form-control" />
        <span asp-validation-for="ReceiverUniqCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountToSend" class="control-label"></label>
        <input asp-for="CountToSend" class="form-control" />
        <span asp-validation-for="CountToSend" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="SenderId" class="form-control" value="@ViewBag.UserId" />
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>

